table, th, td {
    border: 1px solid black;
}

table {
    width: 50%;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #8db2fa;
}
tr {
    background-color: #878787;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
}

.Table-header {
    font-size: 24px;
}


form {
    width: 300px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007a7e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #005653;
}

.content-div {
    display: flex;
}

.right-div, .left-div {
    margin-left: 50px;
    margin-right: 50px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.task-board {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.task-column {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
}

.plus-button {
    margin-left: 40px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.task-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: grab;
}

.task-card p {
    margin: 5px 0;
}

